html {
  height: 100%;
  background: linear-gradient(white 0 70%, #dccaf5 100%);
}

.header {
  height: 100px;
  width: 300px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  /* Change the color of title depending on the season */
  color: #986ad8;
  font-family: monospace;
}

.search {
  height: 50px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 500px;
  padding: 10px;
  font-size: 20px;
  float: left;
  font-family: monospace;
}

.search button {
  background-color: #dccaf5;
  color: white;
  border: none;
  width: 100px;
  height: 45px;
  font-size: 25px;
  float: left;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.24);
  transition-duration: all 0.3s ease;
  cursor: pointer;
}

.search button:hover {
  background-color: white;
  color: #dccaf5;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.weather {
  height: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#today {
  float: left;
  height: 70%;
  width: 40%;
  margin-right: 25px;
  background-color: #fce1e4;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  overflow: auto;
  align-items: center;
  text-align: center;
}

#today img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.not-today {
  float: left;
  height: 70%;
  width: 40%;
  margin-left: 25px;
}

#tmr {
  height: 38%;
  margin-bottom: 25px;
  background-color: #e8f8bf;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  overflow: auto;
  text-align: center;
}

#tmr img {
  width: 100px;
  height: 90px;
}

#day-after-tmr {
  height: 38%;
  margin-top: 25px;
  background-color: #fcf4dd;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  overflow: auto;
  text-align: center;
}

#day-after-tmr img {
  width: 100px;
  height: 90px;
}

#extra {
  height: 14%;
  margin-top: 25px;
  background-color: #daeaf6;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  overflow: auto;
  text-align: center;
}

footer {
  text-align: center;
}
#credit {
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  transition-duration: all 0.3s ease;
  cursor: pointer;
  color: white;
  background-color: #986ad8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#credit:hover {
  background-color: white;
  color: #986ad8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.result {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}

.result h2 {
  color: #986ad8;
  font-size: 30px;
  font-family: monospace;
  animation-duration: 2s;
  animation-name: textslidein;
}

@keyframes textslidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#today-info {
  margin: auto;
  margin-top: 30px;
}

#today-info a {
  font-size: 20px;
  font-family: monospace;
  margin-left: 5%;
  margin-right: 5%;
}

#tmr-info,
#after-tmr-info {
  display: inline-block;
  margin: auto;
  margin-left: 5%;
}

#tmr-info a,
#after-tmr-info a {
  font-size: 18px;
  font-family: monospace;
  margin: 10px;
}

#info {
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  transition-duration: all 0.3s ease;
  cursor: pointer;
  color: white;
  background-color: #6a7bd8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#info:hover {
  background-color: white;
  color: #6a7bd8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
