html {
  height: 100%;
  background: linear-gradient(white 0 60%, darkturquoise 100%);
}

.header {
  height: 100px;
  width: 300px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  /* Change the color of title depending on the season */
  color: darkturquoise;
}

.search {
  height: 50px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  padding: 10px;
  font-size: 20px;
  float: left;
}

.search button {
  font-size: 25px;
  float: left;
}

.weather {
  height: 300px;
  width: 500px;
  margin: auto;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
